#array{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 75vh;
  min-width: 300px;
  color: white;
  text-align: center;
  aspect-ratio: 2 / 3.236 ;
  overflow: hidden;
  font-family: archia;
}

#array-ante-line{
  font-family: archia;
  font-size: .9rem;
  font-style: italic;
  font-weight: bold;
}

#array-position-line{
  font-family: tintinMaj;
  font-size: .76rem;
}

.array-column{
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  overflow: hidden;
}

.depth{
  animation: rotate 350ms linear;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
  cursor: crosshair;
}

.antes{
  border-top: 2px solid transparent;
}

@keyframes rotate {
  from{
    transform: rotate3d(1, 1, 0, 90deg);
  }
  
  to{
    transform: rotate3d(1,1,0, 0deg);
  }
}